# Core
streamlit
numpy
pandas
requests
tqdm
Pillow

# Computer vision
opencv-python-headless
dlib-bin==19.24.6
mtcnn
retina-face
deepface==0.0.95
face-recognition
face-recognition-models
keras-facenet

# ML / DL
tensorflow==2.19.1
keras
scikit-learn
scipy

# Utilities
Flask
flask-cors
gunicorn
